# Node
node_modules

# Output
dist

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.gitignore
.gitattributes

# Linters
.eslintcache
.eslintrc
.hintrc

# GitHub
.github
README.md
LICENSE
